<header>
  <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a href="https://www.javainuse.com" class="navbar-brand">Showboat Video Library</a></div>

    <ul class="navbar-nav">

      <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/home" class="nav-link">Home</a></li>

      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/addcomments" class="nav-link">Add Comment</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/addvideo" class="nav-link">Add New Video</a></li>

      <li class="list-inline-item"><a routerLink="/videos" class="nav-link">List Videos</a></li>
      <li class="list-inline-item"><a routerLink="/comments" class="nav-link">List Comments</a></li>

      <li><a *ngIf="!loginService.isUserLoggedIn()"routerLink="/adduser" class="nav-link">Add User</a></li>
      <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a></li>


    </ul>
  </nav>
</header>
