<div>
  <h5>
    Welcome to Showboat {{currentUser.name}}
  </h5>
  <!-- <app-comment-list></app-comment-list> -->
</div>

<div class="container">
<h1>File Upload</h1>
<input
style="display: none"
type="file"
(change)="onFileSelected($event)"
#fileInput>
<button type="button" (click)="fileInput.click()">Choose File</button>
<button type="button" (click)="onUpload()">Upload</button>
</div>

<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">videoid</th>
        <th scope="col">comment</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let comment of comments">
        <td>{{ comment.id }}</td>
        <td>{{ comment.videoid }}</td>
        <td>{{ comment.comment }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
