<div style="text-align: center; padding: 50px">
  <h3>
    Welcome to Showboat, {{currentUser.name}}!
  </h3>
  <!-- <app-comment-list></app-comment-list> -->
</div>

<!--<div class="container">-->
<!--<h1>File Upload</h1>-->
<!--<input-->
<!--style="display: none"-->
<!--type="file"-->
<!--(change)="onFileSelected($event)"-->
<!--#fileInput>-->
<!--<button type="button" (click)="fileInput.click()">Choose File</button>-->
<!--<button type="button" (click)="onUpload()">Upload</button>-->
<!--</div>-->

<!--<div class="card my-5">-->
<!--  <div class="card-body">-->
<!--    <table class="table table-bordered table-striped">-->
<!--      <thead class="thead-dark">-->
<!--      <tr>-->
<!--        <th scope="col">id</th>-->
<!--        <th scope="col">videoid</th>-->
<!--        <th scope="col">comment</th>-->
<!--      </tr>-->
<!--      </thead>-->

<!--&lt;!&ndash;      <tbody>&ndash;&gt;-->
<!--&lt;!&ndash;      <tr *ngFor="let comment of comments">&ndash;&gt;-->
<!--&lt;!&ndash;        <td>{{ comment.id }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td>{{ comment.videoid }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td>{{ comment.comment }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;      </tr>&ndash;&gt;-->
<!--&lt;!&ndash;      </tbody>&ndash;&gt;-->
<!--    </table>-->
<!--  </div>-->
<!--</div>-->
